/* Write your global styles here, in PostCSS syntax */

@import '@fontsource/actor';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Actor';
}

body {
	background-color: transparent;
	-webkit-app-region: drag;
}
